@* newPassword Template File *@
@(loginForm: Form[User.NewPassword], token: String)
@import helper._
@implicitField = @{ FieldConstructor(myFieldConstructorTemplate.f) }
@mainForLoginRegister("New Password") {

	<h1>New Password</h1>
	
	<div class='login-container'>
		
		<div class="text-center logo-container">
			<img src="assets/images/logo.png" alt="logo" />
		</div>
		
		<div class="login-form">
		
			<div class="header">
				NEW PASSWORD
			</div>
			
			<div class="content">
				@helper.form(action = routes.Users.submitNewPassword(token)) {
					@helper.inputPassword(loginForm.field("password"), 'placeholder -> "Password", '_label -> null, '_showConstraints -> false)
					@helper.inputPassword(loginForm.field("passwordConfirmation"), 'placeholder -> "Confirm Password", '_label -> null, '_showConstraints -> false)
					<div class="buttons text-center">
			        		<button type="submit" class="btn btn-primary">Submit</button>
			        		<div class="clearfix"></div>
			        </div>
				}
			</div>
		
		</div>
		
	</div>
	
}
