@* resetPassword Template File *@
@(loginForm: Form[User.EmailReset])
@import helper._
@implicitField = @{ FieldConstructor(myFieldConstructorTemplate.f) }
@mainForLoginRegister("Reset password") {
	
	<h1>Reset Password</h1>
	
	<div class='login-container'>
	
		<div class="text-center logo-container">
			<img src="assets/images/logo.png" alt="logo" />
		</div>
		
		<div class="login-form">
		
			<div class="header">
				RESET PASSWORD
			</div>
			
			<div class="content">
				@helper.form(action = routes.Users.submitResetPassword()) {
					@helper.inputText(loginForm.field("email"), 'placeholder -> "Email", '_label -> null, '_showConstraints -> false)
					<div class="buttons">			  	
				  		<button type="submit" class="btn btn-primary pull-right">Reset</button>
				  	<div class="clearfix"></div>
				}
			</div>
		
		</div>
	
	</div>
}
